.btn {
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: white;
  margin-left: 1rem;
  text-align: center;
  &-primary {
    background-color: darkcyan;
  }
  &-danger {
    background-color: maroon;
  }
  &-blue {
    width: 60%;
    white-space: nowrap;
    background-color: dodgerblue;
  }
}
